@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

html {
  font: 1rem/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* Noselect */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: #39363C;
  font-size: 1rem;
  background-image: url("/photo/1567666.webp");
}

header {
  height: 105%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: url(/photo/StormTumb.png) center no-repeat;
  background-size: cover;
}

header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

header h1,
header h2 {
  margin: 0;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  border: 5px solid #4E0399;
  border-radius: 2.5rem;
  padding: .5em 3em;
  background-color: #4E0399;
  z-index: 2;
  box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.616);
}

img {
  margin-right: 20px;
}

.site {
  text-align: center;
  background-color: #efefef;
  font-size: 1.2rem;
  color: #444;
  position: relative;
}

.site a {
  color: white;
  text-decoration: none;
}

.site a:hover {
  color: #222;
}

.site nav {
  position: absolute;
  top: 0;
  left: 0;
  background: #4E0399;
  width: 100%;
  box-shadow: 0px 0px 30px 16px rgba(0, 0, 0, 0.616);
}

.site nav a {
  padding: 1.1rem 3.5rem;
  display: inline-block;
}

.site nav a:hover {
  background: #8705E3;
  color: #fff;
}

.typewriter p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4E0399;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #8705E3;
  }
}

/* Cards voor kopen van producten. */
.jeroen {
  display: flex;
  gap: 13rem;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 10rem;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 25rem;
  height: 32rem;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.616);
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #4E0399;
  transform: skewY(345deg);
  transition: 0.7s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.2);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
}

.card .imgBox img {
  max-width: 100%;
  border-radius: 2rem;
  transition: .5s;
}

.card .contentBox {
  position: relative;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  background: #4E0399;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 18rem;
  width: auto;
}

.groot-kaartje {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60rem;
  height: 40rem;
  background-color: #4E0399;
  border-radius: 3rem;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.616);
  margin: auto;
}

.product-kaartje {
  width: 55rem;
  height: 35rem;
  background-color: #444;
  border-radius: 3rem;
  margin: auto;
  z-index: 1;
}

/* About pagina kaartjes */
.section3 {
  display: flex;
  height: auto;
  padding: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  font-size: 2rem;

}

.arrow {
  border: none;
  font-size: 200%;
  border-radius: 10rem;
  background-color: #4E0399;
  color: white;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.arrow:hover {
  cursor: pointer;
}

.stars {
  color: #4E0399;
}

.quote {
  color: #4E0399;
}

.review {
  width: 30rem;
  min-height: 20rem;
  list-style: none;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.4), inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 0.8s;
  color: white;
  background-image: url("/photo/1567666.webp");
}

.reviews {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
}

.review p {
  font-size: 65%;
  font-style: italic;
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
}

.quote {
  font-size: 500%;
  position: absolute;
  top: 0;
  left: 70%;
  transform: translateX(-50%);
  line-height: 0.7;
}

.review:nth-of-type(4),
.review:nth-of-type(5),
.review:nth-of-type(6) {
  display: none;
}

/* responsive about kaartjes */
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

@media screen and (max-width: 50rem) {
  .arrow {
    display: none;
  }

  .reviews {
    width: 100%
  }
}

/* Buy kaartje voor spoofer en gen */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80rem;
  height: 50rem;
  background: #4E0399;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.616);
}

.container .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  background: #212121;
  transition: .3s linear;
}

.container .imgBx:before {
  content: 'Storm Services';
  position: absolute;
  top: 0px;
  left: 1.5rem;
  color: white;
  opacity: 0.2;
  font-size: 8em;
  font-weight: 800;
}

.container .imgBx img {
  position: relative;
  width: 50rem;
}

.container .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.container .details h2 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: white;
}

.container .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.container .details p {
  max-width: 85%;
  margin-left: 15%;
  color: white;
  font-size: 13px;
  margin-bottom: 36px;
}

.container .details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: white;
  display: inline-block;
}

.container .details button {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  margin-left: 2rem;
}

/* .product-colors span {
  width: 26px;
  height: 26px;
  top: 7px;
  margin-right: 12px;
  left: 10px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
} */

/* */
.black {
  background: #000;
}

.red {
  background: #D5212E;
}

.orange {
  background: #F18557;
}

.product-colors .active:after {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid #000;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -5px;
  top: -5px;
}

.buystormspoof:hover {
  cursor: pointer;
  background-color: #8705E3;
}

/* footer */

.footer {
  height: 8rem;
  background: #4E0399;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.616);
}

.footerNav {
  list-style: none;
}

.footerNavItem {
  font-size: 1rem;
  font-style: italic;
  cursor: pointer;

}

.footerNavItem>a {
  color: white;
  text-decoration: none;
}

.footer>address {
  list-style: none;
  text-decoration: none;
}

.openHours {
  list-style: none;
  text-decoration: none;
}

.openHoursTime1 {
  color: white;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 4px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.openHoursTime2 {
  text-align: center;
  padding-top: 3px;
  font-size: 1rem;
  text-decoration: none;
}

.address {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  color: white;
  text-decoration: none;
}

.address:hover {
  color: #8705E3;
}

.footerNavItem>a:hover {
  color: #8705E3;
}

/* Scrollbar CUSTOM */
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



/* About cards dev */
.container1 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 10rem;
  margin-bottom: 0;
  opacity: 0.97;
  flex-wrap: wrap;
}

.container1 .card1 {
  position: relative;
  border-radius: 1rem;
}

.container1 .card1 .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 3;
}

.container1 .card1:nth-child(1) .icon {
  background: #4E0399;
}

.container1 .card1:nth-child(2) .icon {
  background: #4E0399;
}

.container1 .card1:nth-child(3) .icon {
  background: #4E0399;
}

.i1 {
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  transition: 0.7s;
  color: #fff;
  font: 500;
  opacity: 0.7;
}

.container1 .card1 .face {
  width: 30rem;
  height: 20rem;
  transition: 0.5s;
}

.container1 .card1 .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container1 .card1:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0px);
}

.container1 .card1 .face.face1 .content1 {
  opacity: 1;
  transition: 0.5s;
}

.container1 .card1:hover .face.face1 .content1 {
  opacity: 0.95;
}

.container1 .card1 .face.face1 .content1 i {
  max-width: 10rem;
}

.container1 .card1 .face.face2 {
  position: relative;
  background-image: url("/photo/1567666.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);

}

.container1 .card1:hover .face.face2 {
  transform: translateY(0);
}

.container1 .card1 .face.face2 .content1 p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.container1 .card1 .face.face2 .content1 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: white;
}

.container1 a {
  text-decoration: none;
  color: white;
}

/* pagina laadscherm */


/* responsive  ALLES */
@media (max-width: 1080px) {
  .container {
    height: auto;
  }

  .container .imgBx {
    padding: 40px;
    box-sizing: border-box;
    width: 100% !important;
    height: auto;
    text-align: center;
    overflow: hidden;
  }

  .container .imgBx img {
    left: initial;
    max-width: 100%;
    transform: rotate(0deg);
  }

  .details {
    width: 100% !important;
    height: auto;
    padding: 20px;
  }

  .container .details p {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 970px) {
  .container {
    width: 62rem;
  }

  .site {
    font-size: 1rem;
  }

  header {
    height: 50%;
    width: auto;
  }
}

@media (max-width: 780px) {
  .container {
    width: 55rem;
    height: 27.5rem;
  }

  .container1{
    gap: 2rem;
  }

  .container>img {
    width: 100%;
    height: 100%;
  }

  .container>.details>.content>p {
    font-size: 1rem;
  }

  .container>.details>.content>h2 {
    font-size: 2rem;
  }

  .site {
    font-size: 0.8rem;
  }

  header {
    height: 45%;
    width: auto;
  }

  hgroup {
    font-size: 60%;
  }

  .site nav a {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .jeroen {
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    width: 40rem;
    height: 20rem;
  }

  .container>img {
    width: 100%;
    height: 100%;
  }

  .container>.details>.content>p {
    font-size: 0.8rem;
  }

  .container>.details>.content>h2 {
    font-size: 1.5rem;
  }

  .container>.details>.content>h3 {
    font-size: 2rem;
  }

  .container>.details>.content>button {
    font-size: 0.8rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  .site {
    font-size: 0.8rem;
  }

  header {
    height: 40%;
    width: auto;
  }

  hgroup {
    font-size: 60%;
  }

  .site nav a {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .jeroen {
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    width: 30rem;
    height: 15rem;
  }

  .container>.details>.content>p {
    display: none;
  }

  .container>.details>.content>h2 {
    font-size: 1.3rem;
  }

  .container>.details>.content>h3 {
    font-size: 1.25rem;
  }

  .container>.details>.content>button {
    font-size: 0.6rem;
    padding: 0.6rem;
  }
}

@media (max-width: 560px) {
  .site nav a {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
  }

  .jeroen {
    gap: 2rem;
  }
}

@media (max-width: 470px) {
  .site nav a {
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
  }

  .jeroen {
    gap: 2rem;
  }
}


/* Responsive About pagina */
@media (max-width: 1450px) {
  .aboutArticle {
    gap: 2rem;

  }
}

@media (max-width: 1200px) {
  .aboutArticle {
    flex-wrap: wrap;
  }
}

@media (max-width: 396px) {
  .aboutTop {
    padding-top: 6rem;
    font-size: 2rem;
  }
}

@media (max-width: 572px) {
  .aboutTop {
    margin-top: 4rem;
    font-size: 2.5rem;
  }

}